<nav class="navbar navbar-light navbar-light bg-info-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/logo.png" alt="" height="40px" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>