<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIC-CERT</title>
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link href="/stylesheets/sidebarStyles.css" rel="stylesheet">
    <link rel="icon" href="/logo.png">
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="d-flex flex-column">
            <div class="header_img"> <i class='bx bx-user-circle fs-2'></i></div>
            <div class="text-center">
                <%= currentUser.username %>
            </div>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <div class="nav_list">
                    <a href="/incident" class="nav_link active"> <i class='bx bxs-edit nav_icon'></i> <span
                            class="nav_name">Incident Request</span> </a>
                    <a href="/trackstatus/1" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span
                            class="nav_name">Track Status</span> </a>
                    <a href="/dashboard" class="nav_link"> <i class='bx bxs-dashboard'></i> <span
                            class="nav_name">Dashboard</a>
                </div>
            </div>
            <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                    class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <div class="d-flex justify-content-center">
        <%- body %>
    </div>

    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="/javascripts/sidebar.js"></script>
    <script>
    </script>
</body>

</html>