<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIC-CERT</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
</head>

<body>
    <div class="row mt-3">
        <div class="col-md-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"> <%= err.message %> </h4>

            </div>
        </div>
    </div>
</body>

</html>